body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #ff4081;
}

#razon-container {
    margin-top: 50px;
}

#razon-btn {
    background-color: #ff4081;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#razon-text {
    margin-top: 20px;
    font-size: 18px;
}
